<h1>Current Blog Posts</h1>

<div class="row">
  <% @blogposts.each do |blogpost| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to blogpost.title, blog_post %> <!-- add a space -->
        </div><!-- panel-heading -->
        <div class="panel-body">
          by <%= @blogpost.author %><br />
          <p><span class "posted-at">posted at: <%= blog_post.created_at.strftime('%m/%d/%Y at %I:%M%p'%></span></p>
          <p><%= @blogpost.blog_entry[0..250] %>...[<%= link_to "READ MORE", blogpost %>]</p>
        </div><!-- panel-body -->
        <div class="panel-footer">
          <%= link_to 'Edit', edit_blogpost_path(blogpost), class: "btn btn-warning" %>
          <%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </div><!-- panel-footer -->
      </div><!-- panel-default -->
    </div><!-- col-md-6 -->
  <% end %>
</div>

<br>

<%= link_to 'New Blogpost', new_blogpost_path %>