<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Pet num:</strong>
  <%= @owner.pet_num %>
</p>

<p>
  <strong>Address:</strong>
  <%= @owner.address %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
